@media (max-width: 992px) {
  .slider-caption h1 {
    font-size: 2.2rem;
  }
  .slider-caption h4 {
    font-size: 1.2rem;
  }
  .slider-caption input {
    height: 57px;
    margin-bottom: 20px;
  }
  .Improve-health-left h1 {
    font-size: 2.8rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 30px;
    color: #232323;
  }
  .start-look-inner-item {
    position: relative;
    margin-bottom: 20px;
  }
  .app-today-inner-item h2 {
    font-size: 2.2rem;
    line-height: 1.4;
  }
}
@media (max-width: 768px) {
  .slider-caption h4 {
    font-size: 0.9rem;
  }
  .slider-caption h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 506px) {
  .slider-caption h4 {
    font-size: 0.7rem;
  }
  .slider-caption h1 {
    font-size: 1.3rem;
  }
  .slider-caption button {
    width: 220px;
  }
}
@media (max-width: 450px) {
  .slider-caption input {
    height: 57px;
    margin-bottom: 20px;
    width: 220px;
  }
}
